<?xml version="1.0"?>

  <robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cell" >
  
  <!-- robot -->
  <xacro:include filename="$(find denso_vs08a4_av6_support)/urdf/VS087A4_AV6_macro.xacro"/>
  <xacro:include filename="$(find denso)/urdf/h-vac_workpiece.urdf.xacro"/>
  <xacro:include filename="$(find denso)/urdf/h-vac_tool.urdf.xacro"/>
  <xacro:include filename="$(find denso)/urdf/dynpick_WEF-6A200.urdf.xacro"/>

  <xacro:property name="pi" value="3.14159265" />
  

  <!-- robot_cell -->
  <link name="world"/>

<!--   <joint name="fixed_world" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="robot_cell"/>
  </joint>

  <link name="robot_cell">
   <visual>
      <origin xyz="0 0 1.3" rpy="0 0 0"/>
      <geometry>
        <box size="3 3 2.6"/>
      </geometry>
      <material name="glass">
        <color rgba="0.75 0.75 0.75 0.2"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="3 3 1.3"/>
      </geometry>
    </collision>
  </link> -->

  <!-- table -->
  <joint name="fixed_table" type="fixed">
    <origin xyz="-0.35 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="table"/>
  </joint>

  <link name="table">
   <visual>
      <origin xyz="0 0 0.365" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 1.2 0.73"/>
      </geometry>
      <material name="grey">
        <color rgba="0.75 0.75 0.75 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 1.2 0.73"/>
      </geometry>
    </collision>
  </link>

  <joint name="table_top" type="fixed">
    <origin xyz="-0.6 0 0.73" rpy="0 0 0"/>
    <parent link="table"/>
    <child link="table_top"/>
  </joint>

  <link name="table_top"/>

  <joint name="fix_robot" type="fixed">
    <origin xyz="1 0 0.03" rpy="0 0 0"/>
    <parent link="table_top"/>
    <child link="robot_top"/>
  </joint>

  <link name="robot_top">
     <visual>
        <origin xyz="0 0 -0.015" rpy="0 0 0"/>
        <geometry>
          <box size="0.22 0.22 0.03"/>
        </geometry>
        <material name="grey">
          <color rgba="0.75 0.75 0.75 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.22 0.22 0.03"/>
        </geometry>
      </collision>
    </link>

  <xacro:vs08a4_av6 prefix="" parent="robot_top">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:vs08a4_av6>

  <xacro:dynpick prefix="" parent="ee_link">
    <origin xyz="0 0 0" rpy="0 0 ${pi/4}" />
  </xacro:dynpick>

  <xacro:h-vac_tool prefix="" parent="fts_tool_mount">
    <origin xyz="0 0 0" rpy="0 0 ${pi+0.497}" /> <!-- manuelly measured-->
  </xacro:h-vac_tool>

  <xacro:h-vac prefix="" parent="world">
    <origin xyz="${0.27+0.695/2} 0 0" rpy="0 0 0" />
  </xacro:h-vac>

</robot>
